# set default behavior for all files to "auto"
* text=auto

# explicitly declare text files you want to always normalize and convert to LF in the repo
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf

# explicitly declare files that will always have CRLF line endings on checkout
*.sln text eol=crlf
*.csproj text eol=crlf

# declare files that will always be treated as binary and never modified
*.exe binary
*.png binary
*.jpg binary